Documenti/**
Notebook/.ipynb_checkpoints/**
Notebook/dataset/**
Latex/.vscode/ltex.dictionary.it.txt
Latex/age_gender_cnn_speziali.synctex.gz
Latex/age_gender_cnn_speziali.log
Latex/age_gender_cnn_speziali.fls
Latex/age_gender_cnn_speziali.fdb_latexmk
Latex/age_gender_cnn_speziali.blg
Latex/age_gender_cnn_speziali.bbl
Latex/age_gender_cnn_speziali.aux
